/*shared*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Iosevka Charon Mono", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}
.clr {
  clear: both;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-orange-50: oklch(98% 0.016 73.684);
  --color-orange-100: oklch(95.4% 0.038 75.164);
  --color-orange-200: oklch(90.1% 0.076 70.697);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-orange-700: oklch(55.3% 0.195 38.402);
  --color-amber-50: oklch(98.7% 0.022 95.277);
  --color-amber-100: oklch(96.2% 0.059 95.617);
  --color-amber-200: oklch(92.4% 0.12 95.746);
  --color-amber-400: oklch(82.8% 0.189 84.429);
  --color-amber-500: oklch(76.9% 0.188 70.08);
  --color-amber-700: oklch(55.5% 0.163 48.998);
  --color-lime-100: oklch(96.7% 0.067 122.328);
  --color-lime-200: oklch(93.8% 0.127 124.321);
  --color-lime-700: oklch(53.2% 0.157 131.589);
  --color-green-100: oklch(96.2% 0.044 156.743);
  --color-green-200: oklch(92.5% 0.084 155.995);
  --color-green-700: oklch(52.7% 0.154 150.069);
  --color-emerald-50: oklch(97.9% 0.021 166.113);
  --color-emerald-100: oklch(95% 0.052 163.051);
  --color-emerald-500: oklch(69.6% 0.17 162.48);
  --color-emerald-600: oklch(59.6% 0.145 163.225);
  --color-teal-100: oklch(95.3% 0.051 180.801);
  --color-teal-200: oklch(91% 0.096 180.426);
  --color-teal-600: oklch(60% 0.118 184.704);
  --color-teal-700: oklch(51.1% 0.096 186.391);
  --color-cyan-100: oklch(95.6% 0.045 203.388);
  --color-cyan-200: oklch(91.7% 0.08 205.041);
  --color-cyan-500: oklch(71.5% 0.143 215.221);
  --color-cyan-700: oklch(52% 0.105 223.128);
  --color-sky-100: oklch(95.1% 0.026 236.824);
  --color-sky-200: oklch(90.1% 0.058 230.902);
  --color-sky-700: oklch(50% 0.134 242.749);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-200: oklch(88.2% 0.059 254.128);
  --color-blue-400: oklch(70.7% 0.165 254.624);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-indigo-50: oklch(96.2% 0.018 272.314);
  --color-indigo-100: oklch(93% 0.034 272.788);
  --color-indigo-200: oklch(87% 0.065 274.039);
  --color-indigo-500: oklch(58.5% 0.233 277.117);
  --color-indigo-600: oklch(51.1% 0.262 276.966);
  --color-indigo-700: oklch(45.7% 0.24 277.023);
  --color-violet-50: oklch(96.9% 0.016 293.756);
  --color-violet-100: oklch(94.3% 0.029 294.588);
  --color-violet-200: oklch(89.4% 0.057 293.283);
  --color-violet-500: oklch(60.6% 0.25 292.717);
  --color-violet-600: oklch(54.1% 0.281 293.009);
  --color-violet-700: oklch(49.1% 0.27 292.581);
  --color-purple-100: oklch(94.6% 0.033 307.174);
  --color-purple-200: oklch(90.2% 0.063 306.703);
  --color-purple-600: oklch(55.8% 0.288 302.321);
  --color-purple-700: oklch(49.6% 0.265 301.924);
  --color-fuchsia-100: oklch(95.2% 0.037 318.852);
  --color-fuchsia-200: oklch(90.3% 0.076 319.62);
  --color-fuchsia-500: oklch(66.7% 0.295 322.15);
  --color-fuchsia-700: oklch(51.8% 0.253 323.949);
  --color-pink-600: oklch(59.2% 0.249 0.584);
  --color-rose-50: oklch(96.9% 0.015 12.422);
  --color-rose-100: oklch(94.1% 0.03 12.58);
  --color-rose-200: oklch(89.2% 0.058 10.001);
  --color-rose-500: oklch(64.5% 0.246 16.439);
  --color-rose-600: oklch(58.6% 0.253 17.585);
  --color-rose-700: oklch(51.4% 0.222 16.935);
  --color-slate-100: oklch(96.8% 0.007 247.896);
  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-lg: 32rem;
  --container-7xl: 80rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --tracking-wide: 0.025em;
  --leading-tight: 1.25;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --blur-sm: 8px;
  --blur-xl: 24px;
  --blur-3xl: 64px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}
/*header*/
nav {
  backdrop-filter: blur(20px);
  background-color: color-mix(in oklab, var(--color-white) 70%, transparent);
}
div.navbar-brand div.icon-site-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--spacing) * 11);
  height: calc(var(--spacing) * 11);
  border-radius: var(--radius-xl);
  background-image: linear-gradient(
    to right,
    var(--color-indigo-600),
    var(--color-violet-600)
  );
  box-shadow: 0 1px 3px 0 #0000001a;
}
div.navbar-brand h1 {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  color: var(--color-gray-900);
  font-weight: var(--font-weight-bold);
  margin: 0;
}
div.navbar-brand p {
  font-size: var(--text-xs);
  line-height: var(--tw-leading, var(--text-xs--line-height));
  color: var(--color-gray-500);
  font-weight: var(--font-weight-medium);
  margin: 0;
}
div.navbar-collapse ul li button {
  background-image: linear-gradient(
    var(--color-indigo-600),
    var(--color-violet-600)
  );
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  padding-inline: calc(var(--spacing) * 5);
  padding-block: calc(var(--spacing) * 2.5);
  border-radius: var(--radius-xl);
  gap: calc(var(--spacing) * 2);
}
div.navbar-collapse ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xl);
  width: calc(var(--spacing) * 10);
  height: calc(var(--spacing) * 10);
  overflow: hidden;
}
div.navbar-collapse ul li div:hover {
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
}
/*mian*/
main {
  padding-block: calc(var(--spacing) * 8);
  margin-inline: auto;
}
main div.f-main-icon-holder {
  width: calc(var(--spacing) * 12);
  height: calc(var(--spacing) * 12);
  background-image: linear-gradient(
    to bottom right,
    var(--color-blue-600),
    var(--color-blue-500)
  );
  border-radius: var(--radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main div.m-section-holder {
  padding: calc(var(--spacing) * 5);
  background-color: var(--color-white);
  border-radius: var(--radius-2xl);
  border: 1px solid var(--color-gray-100);
  box-shadow: 0 1px 3px 0 #0000001a;
}

main div.contact-holder {
  display: flex;
  border: 1px solid var(--color-gray-100);
  border-radius: var(--radius-2xl);
  flex-direction: column;
  justify-content: space-between;
  min-height: 17rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 3px #0000001a;
}
main div.padd-for-top {
  padding: calc(var(--spacing) * 4);
}
main div.person-image-holder {
  width: calc(var(--spacing) * 14);
  height: calc(var(--spacing) * 14);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xl);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-semibold);
  color: white;
  box-shadow: 0 1px 3px 0 #0000001a;
  background-color: red;
}
main div.small-phone-holder-icon {
  background-color: var(--color-blue-100);
  border-radius: var(--radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--spacing) * 6);
  width: calc(var(--spacing) * 6);
}
main span.number-style {
  color: var(--color-gray-500);
  font-size: var(--text-sm);
}
main h3.contact-name-style {
  color: var(--color-gray-900);
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-base);
}
main div.small-main-fav-emeer-icon-holder {
  width: calc(var(--spacing) * 5);
  height: calc(var(--spacing) * 5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 250px;
  background-color: var(--color-amber-500);
  border: 1px solid white;
  position: absolute;
  color: white;
  right: calc(var(--spacing) * -0.5);
  top: calc(var(--spacing) * -0.5);
}
main div.small-main-fav-emeer-icon-holder i {
  font-size: 8px;
}
main div.main-message-icon-holder {
  width: calc(var(--spacing) * 7);
  height: calc(var(--spacing) * 7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-lg);
  background-color: var(--color-violet-100);
  cursor: pointer;
}
main div.main-message-icon-holder i {
  color: var(--color-violet-600);
  font-size: 10px;
}

main span.relation-holder {
  border-radius: var(--radius-md);
  background-color: var(--color-rose-50);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 1);
  font-size: 11px;
  font-weight: var(--font-weight-medium);
  color: var(--color-rose-600);
}

main div.bottom-call-bar {
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 2.5);
  border: 1px solid var(--color-gray-100);
  background-color: color-mix(in oklab, var(--color-gray-50) 80%, transparent);
}

main div.main-message-icon-holder:hover {
  filter: brightness(98%) saturate(1.5);
}

main div.main-message-icon-holder.pw-hov {
  background-color: var(--color-gray-50);
}
main div.main-message-icon-holder.pw-hov i {
  color: var(--color-gray-500);
}
main div.main-message-icon-holder.pw-hov:hover i {
  color: var(--color-indigo-600);
}
main div.main-message-icon-holder.pw-hov:hover {
  background-color: var(--color-indigo-50);
}

main div.main-message-icon-holder.pw-hov.vv2:hover i {
  color: var(--color-rose-600);
}
main div.main-message-icon-holder.pw-hov.vv2:hover {
  background-color: var(--color-rose-50);
}

main div.fav-contact-holder-ui {
  border: 1px solid var(--color-gray-100);
  border-radius: var(--radius-2xl);
  overflow: hidden;
  background-color: var(--color-white);
  margin-bottom: 20px;
}

main div.fav-contact-holder-ui div.fav-line-fav-contact {
  padding-block: calc(var(--spacing) * 4);
  padding-inline: calc(var(--spacing) * 5);
  background-image: linear-gradient(
    to right,
    var(--color-orange-50),
    var(--color-amber-50)
  );
  border: 1px solid var(--color-gray-100);
  display: flex;
  align-items: center;
  gap: 10px;
}

main div.fav-contact-holder-ui div.fav-line-fav-contact div.f-i-f-contact {
  width: calc(var(--spacing) * 9);
  height: calc(var(--spacing) * 9);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-lg);
  background-image: linear-gradient(
    to bottom right,
    var(--color-amber-400),
    var(--color-orange-500)
  );
  color: white;
  font-size: var(--text-sm);
}
main div.fav-contact-holder-ui div.show-fav-contact-holder {
  padding: calc(var(--spacing) * 3);
  overflow-y: auto;
  max-height: 320px;
  scrollbar-width: none;
}
li.contact-small-view-holder {
  padding: calc(var(--spacing) * 2.5);
  background-color: var(--color-gray-50);
  border-radius: var(--radius-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--spacing) * 3);
}
li.contact-small-view-holder:hover {
  background-color: var(--color-amber-50);
}
li.contact-small-view-holder:hover a.sty-anc-call {
  background-color: var(--color-emerald-500);
  color: var(--color-white);
}
div.show-fav-contact-holder ul {
  list-style: none;
  padding: 0;
}
div.show-fav-contact-holder ul li {
  margin-bottom: 20px;
}
div.show-fav-contact-holder ul li:last-child {
  margin: 0;
}
div.wearss {
  border-radius: var(--radius-lg);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--spacing) * 10);
  height: calc(var(--spacing) * 10);
}
a.sty-anc-call {
  color: var(--color-emerald-600);
  background-color: var(--color-emerald-100);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--spacing) * 8);
  height: calc(var(--spacing) * 8);
  font-size: var(--text-xs);
  text-decoration: none;
}

main
  div.fav-contact-holder-ui
  div.fav-line-fav-contact
  div.f-i-f-contact.f2f2-emergen {
  background-image: linear-gradient(
    to bottom right,
    var(--color-rose-500),
    var(--color-red-600)
  );
}

main div.fav-contact-holder-ui div.fav-line-fav-contact.fav-line-ui {
  background-image: linear-gradient(
    to right,
    var(--color-red-50),
    var(--color-rose-50)
  );
}
li.contact-small-view-holder.fav-effect:hover {
  background-color: var(--color-rose-50);
}
li.contact-small-view-holder.fav-effect:hover a.sty-anc-call {
  background-color: var(--color-rose-500);
  color: var(--color-white);
}
a.sty-anc-call.fav-calll-effect {
  color: var(--color-rose-600);
  background-color: var(--color-rose-100);
}

/*form*/
div.fill-contact-form {
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 100vh;
}
div.to-blur-back {
  backdrop-filter: blur(4px);
  background-color: color-mix(in oklab, var(--color-gray-900) 60%, transparent);
  position: fixed;
  width: 100%;
  z-index: 50;
  height: 100vh;
}
div.the-form {
  position: fixed;
  width: 100%;
  z-index: 50;
  height: 100vh;
  padding: calc(var(--spacing) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
}
div.inner-form {
  max-height: 90vh;
  width: 100%;
  max-width: var(--container-lg);
  border-radius: var(--radius-2xl);
  background-color: var(--color-white);
  scrollbar-width: none;
  overflow: auto;
}
div.form-header-changable {
  padding-block: calc(var(--spacing) * 4);
  padding-inline: calc(var(--spacing) * 6);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
}

div.close-form-button {
  color: var(--color-gray-400);
  border-radius: var(--radius-lg);
  color: var(--color-gray-400);
  cursor: pointer;
  width: calc(var(--spacing) * 9);
  height: calc(var(--spacing) * 9);
}
div.close-form-button:hover {
  color: var(--color-gray-600);
  background-color: var(--color-gray-100);
}
div.inner-form form {
  padding: calc(var(--spacing) * 6);
}
form div.send-or-cancel-btn {
  background-image: linear-gradient(
    var(--color-indigo-600),
    var(--color-violet-600)
  );
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  padding-inline: calc(var(--spacing) * 5);
  padding-block: calc(var(--spacing) * 2.5);
  border-radius: var(--radius-xl);
  gap: calc(var(--spacing) * 2);
  width: 100%;
  cursor: pointer;
}
form div.button-holder-in-form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
div.form-image-holder {
  color: var(--color-white);
  width: calc(var(--spacing) * 24);
  height: calc(var(--spacing) * 24);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
  background-image: linear-gradient(
    to bottom right,
    var(--color-blue-400),
    var(--color-blue-600)
  );
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
}

label.button-to-upload-image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-700);
  font-weight: var(--font-weight-medium);
  padding-block: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 4);
  font-size: var(--text-sm);
  background-color: var(--color-gray-100);
  border-radius: var(--radius-lg);
  gap: calc(var(--spacing) * 2);
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  form button.send-or-cancel-btn {
    width: 50%;
  }
  form div.button-holder-in-form {
    flex-direction: row;
  }
}
